*
    margin: 0
    padding: 0

.container
    margin: 0 auto

#nav-bar
    width: 100%
    display: flex
    flex-direction: row
    display: inline-block

    a
        color: rgb(237, 237, 237)
        text-decoration: none
    p
        color: rgb(237, 237, 237)
        text-decoration: none
    .top
        width:100%
        background-color: rgb(28,28,28)
        .container
            width:90%
            display: flex
            flex-direction: row
            justify-content: center
            padding-top: 22px
            padding-bottom: 22px
        .left
            width: 30%
        .center
            width: 40%
            display: flex
            gap: 14px
            justify-content: center
        .right
            width: 30%
            text-align: right
    .bottom
        background-color: rgb(237, 237, 237)
        .container
            width:90%
            display: flex
            flex-direction: row
            .left
                width: 50%
                padding: 8px 8px
            #search-btn
                height: 20px
                width: 20px
                
            .right
                width: 50%
            
    
